.headerStyle {
    padding: 20px;
    background-color: #17181b;
}

.bodyStyle {
    background-color: #17181b;
}


.botaoEstiloso{
	background-color: #F2F;
}

.btnHeader {
				width:100px;
				padding:10px;
				margin-left: 20px;
				border-top: none;
				border-left: none;
				border-right: none;
				border-bottom-color: #ba4656;
				background-color: #A2293A;
				color: white;
				border-radius:2px;	
				font-weight: bold;
				float: right;
}



.btnHeader:hover {
				width:100px;
				padding:10px;
				margin-left: 20px;
				border-top: none;
				border-left: none;
				border-right: none;
				border-bottom-color: #A2293A;
				background-color: #ba4656;
				color: white;
				border-radius:2px;	
				font-weight: bold;
				float: right;
}

.btnDeafeault {
				width:100px;
				padding:10px;
				margin: 5px;
				border-top: none;
				border-left: none;
				border-right: none;
				border-bottom-color: #ba4656;
				background-color: #A2293A;
				color: white;
				border-radius:2px;	
				font-weight: bold;
}

.btnDeafeault:hover {
				width:100px;
				padding:10px;
				margin: 5px;
				border-bottom-color: #A2293A;
				background-color: #ba4656;
				color: white;
				border-radius:2px;	
				font-weight: bold;
}

